---
import Card from "../components/Card.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="flex flex-col mx-auto lg:w-11/12 md:w-11/12 sm:w-11/12 xs:text-xs gap-12">
		<section id="home" class="min-h-[100vh] flex flex-col mb-6">
			<div class="flex-1 flex items-stretch pt-[70px]">
				<div class="min-h-100 flex flex-nowrap justify-center  lg:flex-row md:flex-col-reverse sm:flex-col-reverse items-center gap-2">
						<div class="md:w-full lg:w-1/2 flex flex-col gap-2 flex-grow-0">
							<header>
								<h1 class="md:text-7xl sm:text-5xl font-bold">Juan Rinaldi</h1>
								<h2 class="md:text-7xl sm:text-5xl font-bold mb-3">Grupo Bologna</h2>
							</header>
							<section>
								<article>
									<p class="text-2xl mb-1 pr-6">
									Abogado por la Facultad de Derecho y Ciencias Sociales de la Universidad de Morón (1987).
									</p>
									<p class="text-2xl pr-6">
									Especialista en Derecho, Política y Criminología en el Derecho del Trabajo por la Universidad de Salamanca (1998 y 1999).
									</p>
								</article>
							</section>
						</div>
						<div class="md:w-full lg:w-1/2">
							<div class="aspect-w-16 aspect-h-9">
								<img
								class="h-auto max-w-full object-contain m-auto"
								src="../../public/images/juan-rinaldi.jpg"
								alt="Juan Rinaldi"
								/>
							</div>	
						</div>
				</div>
			</div>
			<div class="flex-shrink-0 h-16">
				<p class="font-bold text-center">
					36 años de experiencia en el ámbito laboral, indagando
					incansablemente la aplicación de las normas y en ejercicio
					de mi profesión como abogado.
				</p>
			</div>
		</section>

		<section id="actividades" class="min-h-[42rem] bg-primary text-white mb-6 flex justify-center items-center w-100">
			<div class="p-10 flex flex-col">
				<h1 class="font-bold mb-4 text-left lg:text-8xl md:text-6xl sm:text-6xl">
					Actividades Destacadas
				</h1>
				<li class="list-none divide-y">
					<ul class="font-bold lg:text-4xl lg:py-8 md:text-3x1 md:py-4 sm:text-2x1 sm:py-2">
						01 - Director en el Instituto de Derecho Social y del
						Trabajo
					</ul>
					<ul class="font-bold lg:text-4xl lg:py-8 md:text-3x1 md:py-4 sm:text-2x1 sm:py-2">
						02 - Representante Argentino ante la OIT en las
						Conferencias Anuales por la Asociación ADEBA
					</ul>
					<ul class="font-bold lg:text-4xl lg:py-8 md:text-3x1 md:py-4 sm:text-2x1 sm:py-2">
						03 - Director académico de la Diplomatura en Relaciones
						Laborales en la Universidad de Belgrano
					</ul>
				</li>
			</div>
		</section>

		<section id="quien-soy" class="min-h-[42rem] mb-6 flex flex-col items-center">
			<h1 class="font-bold mb-4 text-balance text-center lg:text-8xl md:text-6xl sm:text-6xl">
				“Soy especialista en Análisis Laboral”
			</h1>

			<div class="min-h-[30rem] bg-barley-corn-400 text-white flex flex-row flex-nowrap gap-10 justify-center p-8">
				<div class="flex-1">
					<h3 class="text-3xl font-bold mb-2">Formacion</h3>
					<main class="flex flex-col gap-4 items-stretch">
						<p class="lg:text-2xl md:text-xl sm:text-base">
							Curso de Especialización para Expertos
							Latinoamericanos en Relaciones Laborales y Temas del
							Trabajo: Mercados de Trabajo y Políticas de Empleo,
							por la Universidad de Bologna (2001).
						</p>
						<p class="lg:text-2xl md:text-xl sm:text-base">
							Programa de Formación de Normas Internacionales del
							Trabajo en el Centro Internacional de Formación
							Turín perteneciente a la OIT (2002 y 2016).
						</p>
						<p class="lg:text-2xl md:text-xl sm:text-base">
							Normas Internacionales: Proyecto de Evaluación
							(Segunda Fase), en Turín/Ginebra (2003).
						</p>
					</main>
				</div>

				<div class="flex-1">
					<h3 class="text-3xl font-bold mb-2">Experiencia</h3>
					<main class="flex flex-col gap-4 items-stretch">
						<p class="lg:text-2xl md:text-xl sm:text-base">Asesor de la constituyente reformada de la Constitución Nacional y de la estatuyente porteña (1996)</p>
						<p class="lg:text-2xl md:text-xl sm:text-base">Abogado en distintos gremios y apoderado del CGT hasta 2005.</p>
						<p class="lg:text-2xl md:text-xl sm:text-base">Superintendente de Salud en 2009</p>
						<p class="lg:text-2xl md:text-xl sm:text-base">Apoderado de Banco Macro en 2020</p>
						<p class="lg:text-2xl md:text-xl sm:text-base">Apoderado de Jorge Brito</p>
						<p class="lg:text-2xl md:text-xl sm:text-base">Asesor del Directorio de Edenor desde 2023
						</p>
					</main>
				</div>
			</div>
		</section>


		<section id="sobre-mi" class="min-h-[42rem] mb-6">
			<h1 class="font-bold text-barley-corn-900 mb-4 lg:text-8xl md:text-6xl sm:text-6xl">Sobre mi</h1>
			<Card 
				texts={[
					"Abogado por la Facultad de Derecho y Ciencias Sociales de la Universidad de Morón (1987).",
					"Especialista en Derecho, Política y Criminología en Derecho del Trabajo por la Universidad de Salamanca (1998 y 1999).",
					"En 2001 tuve el honor de participar en el dictado de clases en la Universidad de Bologna, en Italia, invitado por el Dr. Patricio Maraniello, Juez Federal del Juzgado nro. 5 Civil y Comercial de la Capital Federal y Presidente de la Asociación Argentina de Justicia Constitucional (AAJC).",
					"También representé a Argentina en Suiza, Ginebra, en su 111a Conferencia Anual por ser delegado de la OIT (Organización Internacional del Trabajo).",
					"Se abordaron temas muy importantes sobre la economía mundial, entre ellos: una transición justa hacia economías sostenibles e inclusivas, aprendizajes de calidad, y la protección de los trabajadores.",
					"Culminando en 2023 en un encuentro anual de Especialistas en Relaciones Laborales Grupo Bologna, Castilla La-Mancha, Turín, que se celebró en esta oportunidad en San Pablo, Brasil.",
					"He realizado diferentes cursos en esta Universidad, especializándome en Normas Internacionales del Trabajo, los cuales han sido muy enriquecedores para mi carrera, desempeñándome desde el año 1989, con 33 años de experiencia en el rubro."
				]}
				url_image="../../public/images/sobre-mi.jpg" 
				imagePosition="right" 
				border={false}
			/>
			
		</section>


		<section id="prensa" class="min-h-[42rem] mb-6">
			<div class="flex flex-col gap-8">
				<Card
					title="Representando Argentina"
					texts={[
						"OIT: Rinaldi representa a Argenna en la 111a. reunión de la Conferencia Internacional del Trabajo en Ginebra",
						"EEl Analista Laboral, el Dr. Juan Rinaldi, es delegado por la OIT (Organización Internacional del Trabajo) para representar a Argenna en Suiza, Ginebra, en su 111.a Conferencia Anual, que será llevada a cabo del 5 al 16 de junio de este año",
						"Habrá tanto delegados de trabajadores, empleadores y gobiernos de los 187 Estados Miembros de la OI",
						"Los cuales abordarán temas muy importantes sobre la economía mundial, entre ellos: una transición justa hacia economías sostenibles e inclusivas, aprendizajes de calidad, y la protección de los trabajadores.",
					]}
					url_image="../../public/images/card-1.jpg"
				/>
				<Card
					title="CURSO DE RELACIONES INDUSTRIALES"
					subtitle="Universidad de Bologna"
					texts={[
						"El Instuto de Derecho Social y del Trabajo, con la dirección del Dr. Juan Rinaldi y en junto con la Universidad de Bologna – Italia con el Dr. Andrea Lassandari, organizan promover una formación especializada para reconocidos profesionales argennos de la carrera de Derecho Laboral. Esto forma parte del conjunto de iintercambios desarrollados entre ambas instuciones",
						"Esto intenta profundizar en nuevos enfoques que permitan abordar las transformaciones actuales que recorren hoy las relaciones sociales. En este aspecto busca vincular, desde una perspecva interdisciplinaria, la mulplicidad de condiciones que a nivel global y local atraviesan este campo de trabajo, además del conjun to de categorías incluidas en él. Este curso se propone comprender, desde el ámbito del Derecho, las transformaciones profundas en los esquemas tradicionales que organizan y regulan las relaciones industriales en la actualidad",
					]}
					url_image="../../public/images/card-2.jpg"
				/>
				<Card
					title="Reunion de los egresados de Bologna en la universidad de San Pablo celebrada este año"
					subtitle="Universidad de Bologna"
					texts={[
						"esde 1988 se ha desarrollado con el auspicio de la Universidad de Bologna, Italia, la Organización Internacional del Trabajo y el Ministerio de Relaciones Exteriores de Italia, un Curso para Expertos Lanoamericanos en Relaciones del Trabajo, que año aa año ha ido formando especialistas provenientes de la sociología, la economía, el derecho, las ciencias polícas, la ingeniería, con actuación en el campo de las relaciones laborales.",
					]}
					url_image="../../public/images/card-3.jpg"
				/>
			</div>
		</section>

		<section id="bologna" class="min-h-[21rem] mb-6">
			<Title title="Universidad de Bologna"/>
			<div class="flex flex-row justify-around gap-4">
				<p class="w-3/5 font-normal mb-3 lg:text-2xl md:text-xl sm:text-xs">Desde 1988 se ha desarrollado con el auspicio de la Universidad de Bologna, Italia, la Organización Internacional del Trabajo y el Ministerio de Relaciones Exteriores de Italia, un Curso para Expertos Lanoamericanos en Relaciones del Trabajo, que año a año ha ido formando especialistas provenientes de la sociología, la economía, el derecho, las ciencias polícas, la inla ingeniería, con actuación en el campo de las relaciones laborales</p>
				<img src="../../public/images/logo-bologna.jpg" alt="Grupo Bologna" class="object-cover aspect-w-4" />
			</div>
		</section>

		<section id="quienes-somos" class="min-h-[21rem]">
			<Title title="¿Quienes somos?"/>
			<div class="flex flex-row gap-4">
				<div class="">
					<p class="mb-3 lg:text-2xl md:text-xl sm:text-xs">La Asociación de Especialistas en Relaciones Laborales Ex Becarios de la Universidad de Bologna, Centro Internacional de Formación de la OIT y de la Universidad de Caslla La Mancha (Sección Argenna), conocida como “Grupo Bologna”, fue constuida en el mes de mayo del año 2007 bajo la ﬁgura de asociación civil sin ﬁnes de lucro, con el propósito de nuclear a los parcipantes ex becarios del “Curso para expertos lanoamericanos en relaciones del trabajo”</p>
					<p class="mb-3 lg:text-2xl md:text-xl sm:text-xs">enemos como objeto promover, fomentar y difundir las disciplinas relacionadas con el trabajo, las relaciones laborales y las que resulten cienﬁca y técnicamente aﬁnes, con una especial vocación triparta (trabajadores, empleadores y Estado)</p>
					<p class="mb-3 lg:text-2xl md:text-xl sm:text-xs">Nuestra Asociación, en sus acvidades en Argenna, ha propiciado Encuentros y Seminarios con especialistas de alto nivel, a la vez que ha organizado y dirigido Cursos de Capacitación para jóvenes pertenecientes al área de las relaciones laborales. Siempre con miras a formar esa masa críca de pensamiento y acción que, en muchos casos, alimenta de parcipantes a los cursos que se realizan año a año en la sede actual del curso en la Universidad de Caslla La de Caslla La Mancha, Toledo, España</p>
					<p class="mb-3 lg:text-2xl md:text-xl sm:text-xs">Se caracteriza por una convocatoria amplia y dirigida a asegurar la interdisciplinariedad de la membresía tanto al Curso de Expertos, como a la integración de nuestra Asociación que recibe como socios y socias a los ex becarios del Curso</p>
					<p class="mb-3 lg:text-2xl md:text-xl sm:text-xs">Por tales movos, orgullosamente contamos entre nuestra nómina de socias y socios con destacados miembros del mundo del Trabajo, referentes de los actores sociales, funcionarios/as de gobierno, asesores de sindicatos y de las organizaciones empresarias; todas y todos con amplia trayectoria académica y profesional. Incluso, muchos/as de ellos/as son o han sido consultores de la OIT o han integrado la Organización en sus órganos de gesón o en áreas técnicas.</p>
				</div>
				<div class="flex flex-col">
					<img src="../../public/images/quienes-somos-1.jpg" alt="Grupo Bologna" class="object-cover w-full h-21" />
					<img src="../../public/images/quienes-somos-2.jpeg" alt="Grupo Bologna" class="object-cover w-full h-21" />
				</div>
			</div>
		</section>

		<section id="diplomas" class="min-h-[21rem]">
			<Title title="Diplomas"/>
			<div class="flex gap-6 justify-around mb-4">
				<img class="object-cover h-auto border-barley-corn-400 md:border-8 md:w-80 sm:w-20 sm:border-2 " src="../../public/images/diploma-1.jpg" alt="">
				<img class="object-cover h-auto border-barley-corn-400 md:border-8 md:w-80 sm:w-20 sm:border-2 " src="../../public/images/certificado.jpg" alt="">
				<img class="object-cover h-auto border-barley-corn-400 md:border-8 md:w-80 sm:w-20 sm:border-2 " src="../../public/images/diploma-2.jpg" alt="">
			</div>
			<img class="object-cover h-auto w-2/4 mx-auto border-8 border-barley-corn-400" src="../../public/images/diploma-central.jpg" alt="">
		</section> 
	</main>

	<style is:global>
		main {
			align-items: center;
		}
	</style>
</Layout>
