---
interface Props {
    title?: string;
    subtitle?: string;
    texts: string[];
    url_image: string;
    imagePosition?: 'left' | 'right';
    border?: boolean;
}

const { title, subtitle, texts, url_image, imagePosition = 'right', border = true } = Astro.props;
---

<div class={`flex sm:flex-col md:flex-row lg:flex-row gap-4 items-stretch min-h-[550px] ${border ? 'border-l-4 border-barley-corn-400 pl-4' : ''} ${imagePosition === 'left' ? 'md:flex-row-reverse' : ''}`}>
    <div class="w-full md:w-2/5 lg:w-3/5 flex flex-col">
        {title && <h2 class="font-bold mb-2 text-barley-corn-200 lg:text-6xl md:text-4xl sm:text-3xl">{title}</h2>}
        {subtitle && <h3 class="font-bold mb-3 lg:text-4xl md:text-2xl sm:text-2xl">{subtitle}</h3>}
        {texts.map((text) => (
            <p class="font-normal mb-3 lg:text-2xl md:text-xl sm:text-xs">{text}</p>
        ))}
    </div>
    <img src={url_image} alt="Formación" class="object-cover lg:max-h-[600px] md:max-h-[500px] sm:max-h-[400px] lg:object-center md:object-center sm:object-top w-full h-full md:w-3/5 lg:w-2/5" />
</div>
<style>

</style>