---
import Header from './Header.astro';

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />    
		<title>Juan Rinaldi: Abogado Especialista en Derecho Laboral y Representante Internacional</title>
		<meta name="description" content="Conozca a Juan Rinaldi, destacado abogado y especialista en Derecho Laboral, con una amplia trayectoria en el ámbito internacional. Abogado por la Universidad de Morón y especialista en Derecho del Trabajo por la Universidad de Salamanca. Ha representado a Argentina en la OIT y participado en importantes conferencias y cursos internacionales sobre normas laborales. Director en el Instituto de Derecho Social y del Trabajo y académico en la Universidad de Belgrano. Descubra más sobre su carrera y contribuciones en el campo del derecho laboral.">
		<meta name="keywords" content="Juan Rinaldi, abogado, especialista en derecho laboral, OIT, grupo bologna, derecho del trabajo, Universidad de Morón, Universidad de Salamanca, Instituto de Derecho Social y del Trabajo, Universidad de Belgrano">
		<link rel="canonical" href="https://juanrinaldibologna.com">
		<meta property="og:title" content="Juan Rinaldi: Abogado Especialista en Derecho Laboral y Representante Internacional">
	</head>

	<body class="bg-barley-corn-50 relative h-full w-full ">
		<div class="custom-mask"></div>
		<Header/>
		<slot />
		<a class="ir-arriba" href="#" title="Volver arriba">
			<span class="fa-stack">
			  <i class="fa fa-circle fa-stack-2x"></i>
			  <i class="fa fa-arrow-up fa-stack-1x fa-inverse"></i>
			</span>
		  </a>
		  <button id="scrollTopButton" class="hidden fixed bottom-10 right-10 bg-barley-corn-600 text-white p-3 rounded-full shadow-lg hover:bg-barley-corn-700 transition-opacity duration-300">
			<svg fill="#000000" height="30px" width="30px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
				viewBox="0 0 330 330" xml:space="preserve">
				<path id="XMLID_224_" d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
					l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
					C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z"/>
			</svg>
		  </button>
		  <script>
			// JavaScript para mostrar/ocultar el botón y subir al hacer clic
			document.addEventListener('DOMContentLoaded', () => {
			  const scrollTopButton = document.getElementById('scrollTopButton');
			
			  if (scrollTopButton) {
				window.addEventListener('scroll', () => {
				  if (window.scrollY > 300) {
					scrollTopButton.classList.remove('hidden');
					scrollTopButton.classList.add('block');
				  } else {
					scrollTopButton.classList.remove('block');
					scrollTopButton.classList.add('hidden');
				  }
				});
			
				scrollTopButton.addEventListener('click', () => {
				  window.scrollTo({
					top: 0,
					behavior: 'smooth'
				  });
				});
			  }
			});
		  </script>
		
	</body>
</html>
<style is:global>
	:root {

	}
	.custom-mask {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
		background-image: 
			radial-gradient(circle, rgba(230, 187, 69, 0.1), transparent),
			linear-gradient(to right, rgba(116, 88, 52, 0.15) 1px, transparent 1px), 
			linear-gradient(to bottom, rgba(116, 88, 52, 0.15) 1px, transparent 1px);
		background-size: 24px 34px, 24px 34px, 24px 34px;
		background-repeat: repeat;
		z-index: -1;
		opacity: 0.2; /* Adds overall opacity */
		}

	.animation {
		opacity: 0;
		transform: translateY(-100px);
		transition: all 0.5s ease-out;
		transition-delay: 0.3s;
	}

	.scroll-animation {
		opacity: 1;
		transform: translateY(0);
		transition-delay: 0.3s;
	}

	.zoom-in {
		opacity: 0;
		transform: scale(0.5);
		transition: all 0.5s ease-out;
		transition-delay: 0.3s;
	}

	.scroll-zoom-in {
		opacity: 1;
		transform: scale(1);
		transition-delay: 0.3s;
	}

	.fade-in-up {
		opacity: 0;
		transform: translateY(20px);
		transition: all 0.5s ease-out;
		transition-delay: 0.3s;
	}

	.scroll-fade-in-up {
		opacity: 1;
		transform: translateY(0);
	}
</style>